.dark:root {
    --textColor: #fff;
    --textColorV2: #EF6567;
    --borderColorV1: #fff;
    --borderColorV2: #ffffff70;
    --borderColorV3: #ffffffb6;
}
.light:root {
    --textColor: #000;

    --borderColorV1: #000;
    --borderColorV2: #00000070;
    --borderColorV3: #000000b6;
  }
:root {
    --textColor: #000;

    --borderColorV1: #000;
    --borderColorV2: #00000070;
    --borderColorV3: #000000b6;
}



main {
    width: 100vw;
    padding-bottom: 50px;
    min-height: 100vh;
    padding-top: 50px;
}
h2 {
    text-align: center;
}

.emoji-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline: 10%;
    grid-gap: 10px
}
.emoji-div button {
    font-size: 30px;
    border: 1px solid var(--borderColorV1);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
}
.emoji-div button:hover{
    background-color: var(--borderColorV2);
    transform: scale(1.1);
}
.emoji-div button:active{
    transition: none;
    background-color: var(--borderColorV3);
    
}


.notification-main {
    position: fixed;
    bottom: 25px;
    right: 50px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}
.notifcation {
    height: 35px;
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
    border: 1px solid var(--textColor);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-inline: 15px;
    border-radius: 5px;
    grid-gap: 5px;
    animation-name: notificationAnimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes notificationAnimation {
    from {
        right: -200px;
        opacity: 0;
    }
    to {
        opacity: 1;
        right: 0px;
    }

}