.dark:root {
    --backgroundNavColor: #1e1e1fa2;
    --ShadowBoxColor: rgba(0, 0, 0, 0.1);
    --textColor: #fff;
}
.light:root {
    --backgroundNavColor: #c4c4c7a2;
    --ShadowBoxColor: rgba(255, 255, 255, 0.1);
    --textColor: #000;
}
:root {
    --backgroundNavColor: #c4c4c7a2;
    --ShadowBoxColor: rgba(255, 255, 255, 0.1);
    --textColor: #000;
}


nav {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background: var(--backgroundNavColor);
    box-shadow: 0 4px 30px var(--ShadowBoxColor);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
}
.logoNav {
    width: auto;
    margin-inline: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    grid-gap: 10px;
}
.logoNav h1{
    color: var(--textColor);
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 850px) {
    .logoNav h1{
        display: none;
    }
}
.buttonsNav {
    display: flex;
    width: auto;
    overflow-x: auto;
    overflow-y: none;
    margin-inline: 5px;
}

.buttonsNav::-webkit-scrollbar {
    height: 5px;
    width: 0;
}
.buttonsNav::-webkit-scrollbar-track {
    background: transparent;
}
.buttonsNav::-webkit-scrollbar-thumb {
    background-color: #EF6567;
    border-radius: 10px;
}
.buttonsNav button {
    cursor: pointer;
    border: none;
    border-bottom: 3px solid transparent;
    color: var(--textColor);
    background-color: transparent;
    transition: 0.4s ease-in;
}
.buttonsNav button:hover {
    border-bottom: 3px solid #EF6567;
    color: #EF6567;
}


.socialNav {
    display: flex;
    width: auto;
    overflow-x: auto;
    grid-gap: 5px;
    margin-inline: 5px;
    margin-right: 20px;
    width: auto;
    font-size: 35px;
}

.socialNav::-webkit-scrollbar {
    height: 5px;
}
.socialNav::-webkit-scrollbar-track {
    background: transparent;
}
.socialNav::-webkit-scrollbar-thumb {
    background-color: #EF6567;
    border-radius: 10px;
}

.socialNav button{
    cursor: pointer;
    border: none;
    border-bottom: 3px solid transparent;
    color: var(--textColor);
    background-color: transparent;
    transition: 0.4s ease-in;
}
.socialNav button:hover {
    border-bottom: 3px solid #EF6567;
    color: #EF6567;
}

@media only screen and (max-width: 850px) {
    .socialNav{
        display: none;
    }
}